doctype html
head
  meta(charset='UTF-8')
  title Credit &amp; Debit Sales
  link(rel='stylesheet' href='/css/credit.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css')
// ================= SIDEBAR =================
.sidebar
  .logo
    h2 &#x2692; NYONDO HARDWARE
    p Point of Sale System
  ul
    li
      a(href='dashboard.html')
        i.fas.fa-home
        |  Dashboard
    li
      a(href='NewSales.html')
        i.fas.fa-cart-shopping
        |  New Sales
    li
      a(href='stockview.html')
        i.fas.fa-boxes
        |  Stock View
    li.active
      a(href='credit.html')
        i.fas.fa-credit-card
        |  Credit Sales
    li
      a(href='saleshistory.html')
        i.fas.fa-clock-rotate-left
        |  Sales History
    li
      a(href='#')
        i.fas.fa-right-from-bracket
        |  Logout
// ================= MAIN =================
.main
  // TOPBAR
  .topbar
    h2
      i.fas.fa-credit-card
      |  Credit &amp; Debit Sales
    p Manage customer credit and record payments
  // CONTENT
  .grid
    // CREDIT
    .card
      h3
        i.fas.fa-hand-holding-dollar
        |  Credit Sale
      form(action='/credit' method='post')
        label Customer Name
        input(type='text' name='customername')
        label Item
        input(type='text' name='item')
        label Amount Owed
        input(type='number' name='amountowed')
        label Due Date
        input(type='date' name='duedate')
        button.btn-primary
          i.fas.fa-plus
          |  Save Credit
    // DEBIT
    .card
      h3
        i.fas.fa-money-bill
        |  Debit Payment
      form(action='/debit' method='post')
        label Customer Name
        input(type='text' name='customername')
        label Item
        input(type='text' name='item')
        label Amount Paid
        input(type='number' name='amountpaid')
        label Payment Method
        select(name='paymentmethod')
          option Cash
          option Mobile Money
          option Bank
        button.btn-secondary
          i.fas.fa-check
          |  Save Payment
