doctype html
head
  meta(charset='UTF-8')
  title Credit Sales - Nyondo
  link(rel='stylesheet' href='/css/credit.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css')
// SIDEBAR
.sidebar
  h2 &#x2692; NYONDO
  ul
    li
      a(href='#')
        i.fas.fa-home
        |  Dashboard
    li
      a(href='#')
        i.fas.fa-boxes
        |  Inventory
    li
      a(href='#')
        i.fas.fa-cash-register
        |  Sales
    li.active
      a(href='#')
        i.fas.fa-receipt
        |  Credit Sales
    li
      a(href='#')
        i.fas.fa-chart-line
        |  Reports
// MAIN
.main
  h1 Credit Sales
  // SUMMARY
  .cards
    .card
      h3 Total Credit Issued
      p UGX 1,200,000
    .card.warning
      h3 Outstanding Balance
      p UGX 450,000
    .card.danger
      h3 Overdue
      p UGX 120,000
  // CREDIT FORM ONLY
  form.credit-form
    h2 Record Credit Sale
    .grid
      .field
        label Customer Name
        input(type='text' name='customerName' required='')
      .field
        label Phone Number
        input(type='text' name='phone' required='')
      .field
        label Product
        input(type='text' name='product')
      .field
        label Quantity
        input(type='number' name='quantity')
      .field
        label Amount (UGX)
        input(type='number' name='amount' required='')
      .field
        label Due Date
        input(type='date' name='dueDate')
    button(type='submit') Save Credit Sale
  // CREDIT TABLE
  .table-section
    h2 Outstanding Credit
    table
      thead
        tr
          th Customer
          th Phone
          th Product
          th Amount
          th Due Date
          th Status
      tbody
        tr
          td John Doe
          td 0700000000
          td Cement
          td UGX 200,000
          td 2026-06-01
          td.pending Pending
        tr
          td Mary Jane
          td 0788888888
          td Iron Sheets
          td UGX 300,000
          td 2026-05-01
          td.overdue Overdue
