doctype html
head
  meta(charset='UTF-8')
  title Nyondo Hardware POS - Sales
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css')
  link(rel='stylesheet' href='/css/styles.css')
// SIDEBAR
.sidebar
  // LOGO
  .logo
    h2 &#x2692; NYONDO HARDWARE
    p Point of Sale System
  ul
    li
      a(href='dashboard.html')
        i.fa-solid.fa-gauge
        |  Dashboard
    li.active
      a(href='sales-page.html')
        i.fa-solid.fa-cart-shopping
        |  New Sales
    li
      a(href='products.html')
        i.fa-solid.fa-box
        |  Stock View
    li
      a(href='credit-debit-sales.html')
        i.fa-solid.fa-credit-card
        |  Credit Sales
    li
      a(href='sales-history.html')
        i.fa-solid.fa-clock-rotate-left
        |  Sales History
    li
      a(href='#')
        i.fa-solid.fa-right-from-bracket
        |  Logout
// MAIN CONTENT
.main
  // TOPBAR
  .topbar
    h1 Sales Management
  // TODAY SALES TABLE
  .row.table-row
    h2
      i.fa-solid.fa-calendar-day
      |  Today&apos;s Sales
    table
      tr
        th Time
        th Item
        th Qty
        th Unit Price
        th Total
      tr
        td 08:10 AM
        td Cement (50kg)
        td 3
        td 45,000
        td 135,000
      tr
        td 09:05 AM
        td Iron Sheets
        td 5
        td 32,000
        td 160,000
      tr
        td 10:20 AM
        td Nails (Box)
        td 10
        td 5,000
        td 50,000
      tr
        td 11:15 AM
        td Paint (20L)
        td 2
        td 75,000
        td 150,000
      tr
        td 01:00 PM
        td Plumbing Pipes
        td 6
        td 12,000
        td 72,000
      tr
        td 02:30 PM
        td Door Locks
        td 8
        td 8,000
        td 64,000
  // SALES FORM
  .row.full-form
    .box.form-box
      h2
        i.fa-solid.fa-cart-plus
        |  New Sale Entry
      form(action='/NewSales' method='post')
        .form-grid
          div
            label Customer Name
            input(type='text' name='customername' required='')
          div
            label Item
            input(type='text' name='item' required='')
          div
            label Quantity
            input(type='number' name='quantity' required='')
          div
            label Unit Price
            input(type='number' name='unitprice' required='')
          div
            label Discount
            input(type='number' name='discount')
          div
            label Total Price
            input(type='number' name='totalprice' readonly='')
          div
            label Payment Type
            select(name='paymentmethod')
              option Cash
              option Credit
              option Debit
        // BUTTONS
        .form-actions
          button.btn-primary(type='submit')
            i.fa-solid.fa-check
            |  Complete Sale
          button.btn-secondary(type='button')
            i.fa-solid.fa-receipt
            |  Issue Receipt
  // RECEIPT
  .row.receipt-row
    .box.receipt-box
      h2
        i.fa-solid.fa-receipt
        |  Receipt Preview
      .receipt
        p
          b NYONDO HARDWARE
        p Receipt No: NYD-0001
        p Date: 23 Apr 2026
        hr
        p Customer: --------
        p Item: --------
        p Qty: --------
        p Unit Price: --------
        p Total: --------
        hr
        p
          b Served By: Sales Attendant
        p
          b Thank you for shopping with us!
      button.print
        i.fa-solid.fa-print
        |  Print Receipt
