doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sign Up - Nyondo
  link(rel='stylesheet' href='/css/login.css')
.card
  img.logo(src='/images/logo.png' width='55' height='55' alt='logo')
  h2 Create Account
  p.sub Register to access Nyondo Stock System
  form(action='/register' method='post')
    .grid
      // FULL NAME
      .field
        label Full Name
        input(type='text' name='fullname' placeholder='Enter full name' required='')
      // EMAIL
      .field
        label Email
        input(type='email' name='email' placeholder='Enter email' required='')
      // PHONE
      .field
        label Phone Number
        input(type='number' name='phone' placeholder='Enter phone number' required='')
      // NIN
      .field
        label NIN
        input(type='text' name='nin' placeholder='Enter NIN' required='')
      // ROLE
      .field.full
        label Role
        select(name='role' required='')
          option(value='') Select Role
          option(value='admin') Admin
          option(value='storemanager') Store Manager
          option(value='salesattendant') Sales Attendant
      // PASSWORD
      .field.full
        label Password
        input(type='password' name='password' placeholder='Enter password' required='')
    button(type='submit') Create Account
    .login-link
      | Already have an account? 
      a(href='/login') Login
