doctype html
head
  meta(charset='UTF-8')
  title Sales Attendant Dashboard
  // Font Awesome
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css')
  // CSS
  link(rel='stylesheet' href='/css/salesDash.css')
// SIDEBAR
.sidebar
  // LOGO
  .logo
    h2
      span.icon &#x2692;
      |  NYONDO HARDWARE
    p Point of Sale System
  // NAVIGATION
  ul
    li
      a(href='dashboard.html')
        i.fa-solid.fa-gauge
        |  Dashboard
    li
      a(href='new-sale.html')
        i.fa-solid.fa-cart-shopping
        |  New Sale
    li
      a(href='stock.html')
        i.fa-solid.fa-box
        |  Stock View
    li
      a(href='sales-history.html')
        i.fa-solid.fa-receipt
        |  Sales History
    li
      a(href='credit-sales.html')
        i.fa-solid.fa-credit-card
        |  Credit Sales
    li
      a(href='login.html')
        i.fa-solid.fa-right-from-bracket
        |  Logout
// MAIN
.main
  // TOPBAR
  .topbar
    h1 Sales Attendant Dashboard
    .top-actions
      a.btn.register-btn(href='register-customer.html')
        i.fa-solid.fa-user-plus
        |  Register Customer
      .user
        i.fa-solid.fa-user-circle
        span Attendant
  // CARDS
  .cards
    .card
      i.fa-solid.fa-sack-dollar
      h3 Total Sales
      p UGX 5,200,000
    .card
      i.fa-solid.fa-cart-plus
      h3 Today Sales
      p UGX 620,000
    .card
      i.fa-solid.fa-clock
      h3 Pending Payments
      p UGX 1,100,000
  // TABLE
  .table-section
    h2 Recent Sales
    table
      tr
        th Invoice
        th Customer
        th Item
        th Amount
        th Status
      tr
        td #001
        td John Doe
        td Cement 50kg
        td UGX 120,000
        td
          span.status.paid Paid
      tr
        td #002
        td Mary Jane
        td Iron Sheets
        td UGX 340,000
        td
          span.status.pending Pending
      tr
        td #003
        td Peter Mugisha
        td Paint 20L
        td UGX 180,000
        td
          span.status.paid Paid
      tr
        td #004
        td Sarah Namusoke
        td Nails (Box)
        td UGX 75,000
        td
          span.status.pending Pending
      tr
        td #005
        td David Okello
        td Wheelbarrow
        td UGX 250,000
        td
          span.status.paid Paid
      tr
        td #006
        td Grace Achieng
        td Water Pipes
        td UGX 210,000
        td
          span.status.pending Pending
