/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* BODY */
body{
  background-color: rgb(2, 2, 21);
  min-height: 100vh;
  padding: 40px 0; /* top & bottom margin */
}

/* CARD */
.card {
  background: #fff;
  margin: 20px  0  20px  400px;
  width: 420px;
  padding: 35px;
  border-radius: 12px;

  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
  text-align: center;
}

/* LOGO */
.logo {
  margin-bottom: 12px;
}

/* TITLE */
.card h2 {
  color: #2c3e50;
  margin-bottom: 6px;
}

.sub {
  font-size: 14px;
  color: #777;
  margin-bottom: 22px;
}

/* GRID FORM */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

/* FULL WIDTH FIELDS */
.field.full {
  grid-column: span 2;
}

/* FIELD */
.field {
  text-align: left;
}

.field label {
  font-size: 13px;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

/* INPUTS */
.field input,
.field select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
}

/* FOCUS */
.field input:focus,
.field select:focus {
  border-color: #2a5298;
  outline: none;
  box-shadow: 0 0 6px rgba(42,82,152,0.4);
}

/* BUTTON */
button {
  width: 100%;
  margin-top: 22px;
  padding: 12px;

  background: #2a5298;
  color: white;

  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1e3c72;
}

/* LOGIN LINK */
.login-link {
  margin-top: 18px;
  font-size: 14px;
}

.login-link a {
  color: #2a5298;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 500px) {
  .card {
    width: 90%;
    padding: 25px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .field.full {
    grid-column: span 1;
  }
}
