/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ================= BODY ================= */
body {
  display: flex;
  background: #f4f6f9;
}

/* ================= SIDEBAR ================= */
.sidebar {
  width: 260px;
  height: 100vh;
  background: #0f172a;
  color: white;
  position: fixed;
  padding: 20px;
}

.logo {
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #334155;
}

.logo h2 {
  font-size: 1.5rem;
  color: #facc15;
}

.logo p {
  font-size: 12px;
  color: #94a3b8;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 8px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #cbd5e1;
  display: block;
  padding: 10px;
  border-radius: 6px;
}

.sidebar ul li a:hover {
  color: white;
  background-color: rgb(21, 160, 21);
}

.sidebar ul li.active a {
  background-color: rgb(20, 148, 20);
}

/* ================= MAIN ================= */
.main {
  margin-left: 260px;
  padding: 20px;
  width: 100%;
}

/* ================= TOPBAR ================= */
.topbar {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.topbar h2 {
  font-size: 18px;
}

.topbar p {
  font-size: 13px;
  color: #6b7280;
}

/* FILTERS */
.filters {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.filters input,
.filters select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.filters button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* ================= SPACE ================= */
.space {
  height: 25px;
}

/* ================= TABLE ================= */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

th {
  background: #061536;
  color: white;
  padding: 12px;
  text-align: left;
}

td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

tr:hover {
  background: #f1f5f9;
}

/* STATUS */
.paid {
  color: green;
  font-weight: bold;
}

.pending {
  color: orange;
  font-weight: bold;
}

/* BUTTON */
.view-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.view-btn:hover {
  background: #1d4ed8;
}