<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login - Nyondo</title>

  <link rel="stylesheet" href="/css/loginn.css"/>
</head>

<body>

  <div class="card">

    <img class="logo" src="/images/logo.png" width="50" height="50" alt="logo"/>

    <h4>Sign In to get started</h4>
    <p class="para">Login to access your dashboard</p>

    <!-- FORM -->
    <form action="/login" method="POST">

      <!-- FULL NAME -->
      <div class="field">
        <label for="fullname">Full Name</label>
        <input 
          type="text" 
          name="fullname" 
          id="fullname" 
          placeholder="Enter Your Full Name"
          required
        />
      </div>

      <!-- EMAIL -->
      <div class="field">
        <label for="email">Email</label>
        <input 
          type="email" 
          name="email" 
          id="email" 
          placeholder="Enter Your Email"
          required
        />
      </div>

      <!-- PASSWORD -->
      <div class="field">
        <label for="password">Password</label>
        <input 
          type="password" 
          name="password" 
          id="password" 
          placeholder="Enter Password"
          required
        />
      </div>

      <button type="submit">Login</button>

      <div class="login">
        Don't have an account? <a href="/register">Sign Up</a>
      </div>

    </form>

  </div>

</body>
</html>