<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Register - Nyondo</title>

  <link rel="stylesheet" href="/css/login.css"/>
</head>

<body class="register-page">

  <div class="card">

    <img src="/images/logo.png" width="50" height="50" alt="logo" class="logo"/>

    <h4>Create an Account</h4>
    <p class="sub">Create your account to get started</p>

    <form action="/register" method="post">

      <!-- FULL NAME -->
      <div class="field">
        <label for="fname">Full Name</label>
        <input type="text" name="fullname" id="fname" placeholder="Enter Full Name" required/>
      </div>

      <!-- EMAIL -->
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter Your Email" required/>
      </div>

      <!-- PASSWORD -->
      <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter Your Password" required/>
      </div>

      <!-- CONFIRM PASSWORD -->
      <div class="field">
        <label for="cpassword">Confirm Password</label>
        <input type="password" name="confirmpassword" id="cpassword" placeholder="Re-Enter Password" required/>
      </div>

      <button type="submit">Register Account</button>

      <div class="login">
        Already have an account? <a href="#">Sign In</a>
      </div>

    </form>

  </div>

</body>
</html>